.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}


.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.filterPage{
    padding-right: 80px;
}

option {
    color: black;
}

.containerBooks {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    /* overflow: hidden; */
}

.cbooks {
    /* width: 100%; */
    padding: 1rem;
    overflow: hidden;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.book {
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}

.book:hover {
    --escala: 1.2;
    cursor: pointer;
}

.containerReading {
    width: 80%;
    max-width: 30%;
    min-height: 80vh;
    height: fit-content;
    margin: 192px 14px 0px 0px;
    background-color: rgb(32, 32, 49);
    border-radius: 5px;
    padding: 10px;
}

.containerReading>h1 {
    color: white;
}

.containerList {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.containerIcon {
    background-color: white;
    /* padding: 5px; */
    position: absolute;
    margin: -10px 97px;
    border-radius: 5px;
    color: black;
}

.icon {

    /* background-color: aliceblue; */
    /* padding: 10px; */
}

@media (width < 500px) {
    img {
        width: 100px;
        height: 150px !important;
    }

    .filterPage{
        padding-right: 50px;
    }

    .containerReading {
        width: 526px;
        margin-top: 264px;
    }

    .containerReading>h1 {
        font-size: xx-large;
    }
    .containerIcon {
        margin: -10px 60px;
    }
}